<div class="telo">
    <h1>Dobrodosli u MetHotel!</h1>
    <p class="pi"><strong>E-mail adresa:</strong> methotel@gmail.com></p> 
    <p class="pi"><strong>Kontakt telefon:</strong> 011/ 3345-689</p>
    <p class="pi"><strong>Kontakt telefon:</strong> 064/ 34-76-587</p>
    <p class="pi"><strong>Adresa:</strong> Bulevar Mihajla Pupina 131, 11070 Novi Beograd</p>
    
<p>MetHotel postoji od 2001 godine.</p>
<p>Vazi za jedan od najinpozantnijih hotela na jadranskom primorju!</p>
<p>Ukoliko zelite savrsen odmor sa perfektnim smestajem i hranom MetHotel je pravo mesto za Vas!</p>

<section class="center">
    <h3>Kontaktirajte nas!</h3>
    <form>
        <label for="ime">Ime</label>
        <input type="text" name="ime" id="ime" placeholder="Ime"><br>
        <label form="prezime">Prezime</label>
        <input type="text" name="prezime" id="prezime" placeholder="Prezime"><br>
        <label for="broj">Broj telefona</label>
        <input type="text" name="broj" id="borj" placeholder="Broj telefona"><br>
        <label for="naslov">Naslov poruke</label>
        <input type="text" name="naslov" id="naslov" placeholder="Naslov poruke"><br>
        <textarea class="poruka" placeholder="Poruka"></textarea>
        <input type="radio" id="mail" name="mail" value="E-mail">
        <label for="mail">E-mail</label><br>
        <input type="radio" id="message" name="message" value="Message">
        <label for="message">Messages</label><br>  
        <button>Submit</button>
    </form>
</section>
<iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.00344864678!2d20.41689421504833!3d44.8214943841185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6565664a2a0d%3A0xa6701a035931f6f6!2z0JHRg9C70LXQstCw0YAg0JzQuNGF0LDRmNC70LAg0J_Rg9C_0LjQvdCwIDEzMSwg0JHQtdC-0LPRgNCw0LQgMTEwNzA!5e0!3m2!1ssr!2srs!4v1609062235229!5m2!1ssr!2srs" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    

