<div class="navbar">
<ul>
    <li><a routerLink="/">Pocetna</a></li>
    <li><a routerLink="/ponuda">Ponuda</a></li>
        <div class="dropdown">
            <button class="dropbtn" style="font-size: 18px;">Preporuka<i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <li><a routerLink="/obrok">Obrok</a></li>
                    <li><a routerLink="/izlazak">Izlazak</a></li>
                    <li><a routerLink="/obilazak">Obilazak</a></li>
                </div>
        </div>
    <li><a routerLink="/onama">O nama</a></li>
    <li><a routerLink="/room">Baza</a></li>
    <li><a routerLink="/">To do list</a></li>
</ul>
</div>
