#tabela {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabela td, #tabela th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabela tr {
  background-color: #f2f2f2;
}

#tabela tr:hover {
  background-color: #ddd;
}

#tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5f9ea0;
  color: white;
}

h1 {
  text-align: center;
}

.telo {
  width: 1248px;
  height: 1200px;
  background-color: #923CB5;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5f9ea0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {
  background-color: #008b8b;
}

button:active {
  background-color: #008b8b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.greska {
  color: red;
}
