<div class="telo">
    <h1>Nase preporuke obroka</h1>
    <h2>Specijalitet dana:</h2>
    <h4>Losos u sosu od pecuraka i koprive</h4>
        <section>
            <ul class="obrok">
                <h3>Lista obroka</h3>
                <li>Jaje na oko sa slaninom</li>
                <li>Pasta sa cetiri vrste sira</li>
                <li>Carbonara</li>
                <li>Capricosa</li>
                <li>Rizoto sa morskim plodovima</li>
                <li>Steak sa pekarskim kropmirom</li>
              </ul>
        </section>

    
        
        
        

   
    